$btn-style-primary-bd-color: #333;
$btn-style-primary-bg-color: #333;
$btn-style-primary-text-color: white;

$btn-style-default-bd-color: #DADADA;
$btn-style-default-bg-color: #F6F6F6;
$btn-style-default-text-color: #333;

$btn-style-danger-bd-color: #C1272D;
$btn-style-danger-bg-color: #C1272D;
$btn-style-danger-text-color: white;

$btn-style-link-bd-color: transparent;
$btn-style-link-bg-color: transparent;
$btn-style-link-text-color: #00AEEF;

$btn-style-merge-bd-color: transparent;
$btn-style-merge-bg-color: transparent;
$btn-style-merge-text-color: #333;

$btn-xs-size: 24px !default;
$btn-sm-size: 28px !default;
$btn-md-size: 42px !default;
$btn-lg-size: 56px !default;

$btn-xs-padding-y: 2px !default;
$btn-xs-padding-x: 2px !default;
$btn-xs-line-height: 1.2 !default;
$btn-xs-font-size: 14px !default;
$btn-xs-border-radius: 6px !default;

$btn-sm-padding-y: 5px !default;
$btn-sm-padding-x: 8px !default;
$btn-sm-line-height: 1.1 !default;
$btn-sm-font-size: 16px !default;
$btn-sm-border-radius: 10px !default;

$btn-md-padding-y: 11px !default;
$btn-md-padding-x: 12px !default;
$btn-md-line-height: 1.1 !default;
$btn-md-font-size: 18px !default;
$btn-md-border-radius: 14px !default;

$btn-lg-padding-y: 12px !default;
$btn-lg-padding-x: 20px !default;
$btn-lg-line-height: 1.1 !default;
$btn-lg-font-size: 28px !default;
$btn-lg-border-radius: 18px !default;